<div>

    {% for message in messages %}
        {% if message.role == 'user' %}
            <p class="{{ message.role }}">
                <strong>Tu:</strong> {{ message.content.content }}
            </p>
        {% else %}
            <p class="{{ message.role }}">
                <strong>Chatbot:</strong> {{ message.content.content }}
            </p>
        {% endif %}
        <p class="{{ message.role }}">
            <strong>Chatbot:</strong> {{ message }}
        </p>
    {% endfor %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="user_input">
    <input type="submit" value="Enviar">
</form>