<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.role == "user" %}
                <p class="{{ message.role }}">
                    <strong>Tu:</strong> {{ message.content }}
                </p>
            {% else %}
                <p class="{{ message.role }}">
                    <strong>Chatbot:</strong> {{ message.content }}
                </p>
            {% endif %}
            {% comment %} <p class="{{ message.role }}">
                <strong>Chatbot:</strong> {{ message }}
            </p> {% endcomment %}
        {% endfor %}
    {% else %}
        <p class="{{ message.role }}">
            <strong>Chatbot:</strong> {{ response }}
        </p>
    {% endif %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="user_input">
    <input type="submit" value="Enviar">
</form>